.lastpagebackground{
    background-image: url("https://d2w1ef2ao9g8r9.cloudfront.net/otl-images/_1600x1064_crop_center-center_82_line/bar-food.jpg");
    height: 100vh;
    width: 100vw;
    padding-top: 50px;
    background-size: cover;
}
.lastpagecard{
    background-color:  rgb(118, 244, 130);
    height: 40vh;
    width: 30vw;
    margin-left: 450px;
    border-radius: 16px;
}
.lastpagebutton{
    margin-left: 200px;
    margin-top: 30px;
}
